.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 238px;
  position: relative;
  z-index: 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font: 500 20px/1.2 proxima-nova, Arial, Helvetica, sans-serif;
  padding: 20px 0 59px;
  overflow: hidden;
  background-color: #000;
}

@media (min-width: 700px) {
  .hero {
    min-height: 274px;
    font-size: 22px;
    padding: 20px 0 55px;
  }
}

@media (min-width: 1025px) {
  .hero {
    min-height: 468px;
    font-size: 27px;
    padding: 20px 0 119px;
  }
}

@media screen and (min-width: 1025px) and (-ms-high-contrast: active),
  (min-width: 1025px) and (-ms-high-contrast: none) {
  .hero {
    height: 468px;
  }
}

.hero:after,
.hero:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 100%;
  width: 51%;
  background-color: #fff;
  height: 100%;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  z-index: 1;
}

.hero:after {
  left: 50%;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.hero .container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 1000px;
}

.hero .container.darken::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(0, 0, 0, 0.65)),
    to(rgba(0, 0, 0, 0))
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}

.hero_home {
  min-height: 404px;
  padding: 20px 0 50px;
  height: 80vh;
}

@media (min-width: 700px) {
  .hero_home {
    min-height: 376px;
  }
}

@media (min-width: 1025px) {
  .hero_home {
    min-height: 652px;
    /* padding:20px 0 107px;
           */
  }
}

.hero_home:before {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

@media (min-width: 700px) {
  .hero_home:before {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}

@media (min-width: 1025px) {
  .hero_home:before {
    -webkit-transform: rotate(4.6deg);
    -ms-transform: rotate(4.6deg);
    transform: rotate(4.6deg);
  }
}

.hero_home:after {
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

@media (min-width: 700px) {
  .hero_home:after {
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

@media (min-width: 1025px) {
  .hero_home:after {
    -webkit-transform: rotate(-4.6deg);
    -ms-transform: rotate(-4.6deg);
    transform: rotate(-4.6deg);
  }
}

@media (min-width: 1025px) {
  .hero_home .container {
    max-width: 1180px;
  }
}

.hero__video {
  display: none;
}

@media (min-width: 700px) {
  .hero__video {
    display: block;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero__video {
    display: none;
  }
}

#intro_video {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
