
.description {
  float: right;
}

.linkedin {
  margin-bottom: 90px;
  text-align: center;
}

.GitHub {
  margin-bottom: 90px;
  text-align: center;
}

.my-2 {
  background-color: #fffcf2;
}

.nav-link {
  color: #c1666b;
  font-size: medium;
  font-weight: 700;
}
